.WorkoutsContainer{
    max-width: 85%;
    margin: auto;
}

.MyWorkouts{
    padding: 10px;
}

.AddWorkoutBtn{
    justify-content: center;
}

.BtnContainer{
    display: flex;
    justify-content: center;
}